<h1><%= t'title.info', model: t('activerecord.models.user') %></h1>
<p>ID：<%= @user.id %></p>
<p>メールアドレス：<%= @user.email %></p>
<p>郵便番号：<%= @user.zip %></p>
<p>住所：<%= @user.address %></p>
<p>プロフィール：<%= @user.profile %></p>

<% if @user == current_user %>
<p>
  <%= link_to 'プロフィールの変更', edit_user_registration_path %>
</p>
<% end; %>

<p>
  <%= link_to '一覧に戻る', users_path %>
</p>