<p><%= t('devise.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.password_change_request') %></p>

<p><%= link_to t('devise.mailer.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.ignore_mail') %></p>
<p><%= t('devise.mailer.password_not_changed_until_link_access') %></p>
